/* #20283C
rgb(32 40 60)
#E9EDF4 
#028355 */
/* FONTS */
/* font-family: "Eczar", serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal; */

  /* font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */

@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #dde4f1e2;
}
#header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #122b12e2;
}
#logo{
    margin: 20px;
    color: #FFFFFF;
    font-family: "Eczar", serif;
    font-size: 30px;
    font-weight: 800;
}
#name,#work{
    white-space: nowrap;
    overflow: hidden;
    width: 0; /* Initially hidden */
    animation: blink-cursor 0.75s step-end infinite;
}
@keyframes blink-cursor {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: rgb(33, 167, 104);
    }
}
.hamburger {
    display: none;
    width: 30px;
    cursor: pointer;
}
nav{
    margin-right: 40px;
}
nav a{
    text-decoration: none;
    margin: 7px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: "Josefin Sans", sans-serif;
}
nav a:hover{
    text-decoration: 3px underline #028355;
}
#home{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px; 
}

.intro ,.dp{
    margin: 50px;
}
.intro{
    width: 400px;
    padding: 30px;
    /* margin-left: 20px; */
    box-shadow: 0 2px 4px 0 #028355;
}
.intro h2{
    margin: 10px;
    font-size: 28px;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
}
.dp img {
    width: 350px ;
    height: 350px;
    border-radius: 50%;
}
span{
    color: #028355;
}
.portfolio{
    width: 120px;
    margin: 30px;
    padding: 12px;
    text-align: center;
    border: 2px solid #028355;
    background-color:#FFFFFF;
    color: #028355;
    border-radius: 10px;
    font-family: "Josefin Sans", sans-serif;
}
.portfolio:hover{
    background-color: #028355 ;
    color: #FFFFFF;
    cursor: pointer;
}
#service-head{
    text-align: center;
    margin: 10px;
    font-size: 60px;
    font-weight: 100;
    font-family: "Eczar", sans-serif;
}
.services-intro{
    width: 600px;
    display: flex;
    margin: 0 auto;
}
.services-p{
    text-align: center;
    font-size: 15px;
    font-family:  "Josefin Sans", sans-serif;
}
#services-card{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}
.card{
    border-radius: 15px;
    width: 250px;
    margin: 10px;
    height: 300px;
    box-shadow: 0 2px 4px 0 #028355, 0 3px 2px 0 rgba(2, 131, 85, 0.5);
}
.card img{
    align-items: center;
    width: 96px;
    height: 96px;
    margin-left: 30px;
}
.card h2{
    text-align: center;
    margin: 20px;
}
.card p{
    text-align: center;
    margin: 7px;
}
.project-head{
    text-align: center;
    margin: 50px;
    font-size: 60px;
    font-weight: 100;
    font-family: "Eczar", sans-serif;
}
#project-container{
    margin:  40px 90px;
    box-shadow: 0 2px 4px 0 #028355, 0 3px 2px 0 rgba(2, 131, 85, 0.5);
}
.project-card{
    display: flex;
    flex: row;
}
.project-intro{
    width: 500px;
    margin:80px 20px;
    text-align: center;
}
.project-intro h1{
    text-align: left;
    margin:7px 0;
    font-size: 30px;
    font-weight:  800 ;
    font-family: "Eczar", sans-serif;
}
.project-intro h3{
    text-align: left;
    margin:7px 0;
    font-family:"Josefin Sans", sans-serif;
}
.project-intro p{
    text-align: left;
    margin: 5px 0;
    font-family:"Josefin Sans", sans-serif;;
}
.project-img img{
    padding: 30px;
    width: 510px;
    height: 300px;
    margin: 0;
}
#about-me{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 120px;
    margin: 130px;
}
.my-image{
    width: 270px;
    border: 10px  solid #028355;
    padding: 7px;
    border-radius: 10px;
}
.my-image img{
    width: 280px;
    height: 380px;
    border-radius: 10px;
    position: relative;
    left: 20%;
}
/* .my-intro{
    width: 450px;
} */
.my-intro h1{
    text-align: left;
    font-size: 60px;
    font-weight: 100;
    font-family: "Eczar", sans-serif;
}

.my-intro h3{
    text-align: left;
    font-size: 25px;
    margin:7px 0;
    font-family:"Josefin Sans", sans-serif;
}
.my-intro p{
    text-align: left;
    margin:7px 0;
    font-family:"Josefin Sans", sans-serif;
}
.my-intro a {
text-decoration: none;
}
.my-intro button{
    width: 170px ;
    padding: 10px;
    margin: 30px 0;
    color: #028355;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 2px solid #028355;
}
.my-intro button:hover{
    color: #FFFFFF;
    background-color: #028355;
    cursor: pointer;
}
#contact-head{
    text-align: center;
    margin: 10px;
    font-size: 60px;
    font-weight: 100;
    font-family: "Eczar", sans-serif;
}
#contact-cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    /* margin: 30px; */
}
.phone-card,.email-card,.address-card{
    width: 300px;
    height: 100px;
    border-radius: 10px;
    padding:10px 20px;
    margin: 7px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;box-shadow: 0 2px 4px 0 #16433d
}
.phone-card h2,.email-card h2,.address-card h2{
    text-align: left;
    font-size: 25px;
    margin:7px 0;
    font-family:"Josefin Sans", sans-serif;
}
.phone-card p a ,
.email-card p a ,
.address-card p a {
    text-decoration: none;
    margin: 10px;
    color: black;
    text-align: left;
    margin:7px 0;
    font-family:"Josefin Sans", sans-serif;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    box-shadow: 0 2px 4px 0 rgba(153, 248, 223, 0.9), 0 4px 8px rgba(49, 49, 49, 0.9);
}
#footer-info h1{
text-align: center;
font-family: "Eczar", sans-serif;
}
#footer-info p{
text-align: center;
font-family:"Josefin Sans", sans-serif;
}
#footer-info div{
    margin:30px;
}
#footer-info div a{
    margin: 7px;
}
#footer-info div a img{
    filter: grayscale(1);
    transition: 0.3s ease filter;
}
#footer-info div a img:hover{
    filter: grayscale(0);
}
.copy{
    margin-top: 30px;
}

/* responsivness for large */
@media (max-width:910px) {
    #logo{
        font-size: 25px;
        font-weight: 600;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 100%;
        text-align: right;
    }
    .hamburger {
        display: block;
    }

    .nav-links.active {
        display: flex;
    }
    #services-card{
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        margin: 8px;
    }
    .card{
        width: 400px;
    }
    .card img{
        display: flex;
        margin: 0 auto;
    }
    .project-img img{
        width:40vw; 
    }
    .my-image{
        width: 200px;
    }
    .my-image img{
        width: 230px;
        height: 330px;
        border-radius: 10px;
        position: relative;
        left: 20%;
    }
    .my-intro h1{
        font-size:30px;
    }
    .my-intro h3{
        font-size: 20px;
    }
    .phone-card,.email-card,.address-card{
        margin: 0 20px;
    }
}

/* responsiveness for small devices */
@media (max-width:400px) {
    #header-container{
        display: flex;
        flex-direction: row;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        border-radius:15px;
        background-color: #028355;
        width: 40%;
        text-align: right;
    }
    .hamburger {
        display: block;
    }

    .nav-links.active {
        display: flex;
       
    }
    .nav-links a{
        margin: 20px;
    }
    #home{
        display: flex;
        flex-direction: column;
    }
    .intro h2{
        font-size: 25px;
        margin: 15px 0;
    }
    .intro{
        width: 300px;
        margin: 10px;
    }
    .dp img{
        width: 250px;
        height: 250px;
    }
    #service-head{
        font-size: 30px;
    }
    .services-intro{
        width: 350px;
        padding: 10px;
    }
    .card{
        width:250px;
    }
    .project-head{
        font-size: 30px;
    }
    #project-container {
        margin: 10px;
        padding: 5px;
    }

    .project-intro {
        margin: 20px 5px;
    }

    .project-intro h1 {
        font-size: 20px;
    }

    .project-img img {
        padding: 10px;
        width: 85%;
        height: 80%;
        margin-top: 30px;
    }
    #about-me {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    .my-image{
        margin-top: 50px;
    }
    .my-intro h1{
        font-family: 30px;
        text-align: center;
        gap: 10px;
    }
    .my-intro h3,p{
    text-align: center;
    }
    .my-intro button{
        display: flex;
        margin: 20px auto;
    }
    #contact-head{
        margin-top: 50px;
        font-size:30px;
    }
    #contact-cards{
        display: flex;
        flex-direction: column;
    }
    .phone-card,.email-card,.address-card{
        margin: 20px;
    }

}
