/* //#20283C
//32 40 60 */

@import url('https://fonts.googleapis.com/css2?family=Unlock&display=swap');
*{
    margin: 0;
    padding: 0;
    /* font-family: "Unlock", serif;
    font-weight: 400;
    font-style: normal;    */
}
#header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #20283c;
}
#logo{
    margin: 30px;
    font-size: 40px;
    font-weight: 800;
    color: white;
    font-family: "Unlock", serif;
}
nav{
    margin-right: 40px;
}
nav a{
    text-decoration: none;
    margin: 7px;
    color: white;
    font-size: 18px;
    font-weight: 500;
}